
/* Dashboard.css */

.dashboard {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #f5f5f5;
  height: 100vh;
  position: fixed;
  padding: 20px;
}

.sidebar h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar a {
  color: #333;
  text-decoration: none;
}

.active {
  color: #0056b3;
  font-weight: bold;
}

.logout-container {
  margin-top: 20px;
}

.logout-button {
  color: #ff4d4f;
  text-decoration: none;
}

.content {
  margin-left: 270px; /* Adjust according to sidebar width */
  padding: 20px;
}

.welcome-message {
  margin-top: 20px;
  color: #333;
  background-color: #e6f7ff;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #0056b3;
}
/* Dashboard.css */
.welcome-message {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
}
