.my-exam {
  padding: 10px; /* Padding around the component */
  background-color: #f9f9f9; /* Light background color */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow */
  font-family: Arial, sans-serif; /* Font style */
}

h2 {
  color: #333; /* Dark text for the title */
  margin-bottom: 20px; /* Spacing below the title */
}

table {
  width: 100%; /* Full width for the table */
  border-collapse: collapse; /* Collapse borders for neatness */
  margin-top: 20px; /* Spacing above the table */
}

th,
td {
  padding: 12px; /* Padding inside cells */
  text-align: left; /* Align text to the left */
  border: 1px solid #ddd; /* Light grey border around cells */
}

th {
  background-color: #f2f2f2; /* Light grey background for header cells */
}


.take-exam-button,
.take-exam2-button {
  display: inline-block; /* Make links behave like buttons */
  padding: 8px 10px; /* Adjust padding for a better button appearance */
  margin-right: 9px; /* Spacing between buttons */
  background-color: #0c56f4; /* Blue color for both buttons */
  color: white; /* White text color */
  text-decoration: none; /* Remove underline from links */
  border-radius: 15px; /* Rounded corners */
  width: 150px; /* Set a fixed width for uniform size */
  text-align: center; /* Center text within button */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  font-size: 100%;
}

.take-exam-button:hover,
.take-exam2-button:hover {
  background-color: #45a049; /* Darker green for hover effect */
}
